.hero-container {
  display: flex;
  flex-direction: column;
}

.photo-grid {
  max-width: 400px;
  margin: 0 auto;
}

.hero-title {
  font-size: 36px;
  margin-bottom: 16px;
}

.hero-paragraph {
  margin-top: 0px;
}
